@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

<partial name="Navbar1" />

<partial name="Navbar2" />

<div class="container">
    @*sort by and explore mission*@
    <div class="row me-5 d-flex">
        <div class="col-6 col-md-4 col-sm-4 d-inline">
            <p class="fs-4 ms-5 mt-2">
               <div id="count1"></div>
            </p>
        </div>

        <div class="col-lg-3 col-md-8 col-sm-8 d-flex ms-auto text-end sortby">
            <div class="dropdown sort nav-item">
                <select class="dropdown sorted nav-item p-1 mt-3" onchange="mysearch()" >
                    <option selected>Sort by</option>
                    <option class="dropdown-item" value="1" >Title</option>
                    <option class="dropdown-item" value="2" >Start Date</option>
                    <option class="dropdown-item" value="3">Start Date Desc</option>
                    <option class="dropdown-item" value="4">Seats Left</option>
                    <option class="dropdown-item" value="5">Theme</option>
                    @*<option class="dropdown-item" value="6">Favrouite</option>*@
                </select>
            </div>

            <div class="btn-group d-none d-lg-flex ms-5">
                <button class="btn shadow-none" id="grid" onclick="grid()">
                    <i class="bi bi-grid-1x2-fill fs-5"></i>
                </button>
                <button class="btn shadow-none" id="list" onclick="list()">
                    <i class="bi bi-list fs-2"></i>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="filters-section d-flex align-items-end flex-wrap justify-content-start ms-5">
</div>

<div id="missiondetails"></div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script>*@


<script>

        function mysearch(jpg){
            var search = $("#search-addon[name=searchText]").val();
            var sort=$(".sorted").val();
          

            var country = [];
            $("input[type='checkbox'][name='country']:checked").each(function () {
                country.push($(this).val());
            });

            var city = [];
            $("input[type='checkbox'][name='city']:checked").each(function () {
                city.push($(this).val());
            });

            var theme = [];
            $("input[type='checkbox'][name='theme']:checked").each(function () {
                theme.push($(this).val());
            });

            var skill = [];
            $("input[type='checkbox'][name='skill']:checked").each(function () {
                skill.push($(this).val());
            });


            $.ajax({
                url: '/Employee/Home/_Missions',
                type: 'GET',    
                data: { 'SearchingMission': search,'sort':sort, 'skill' :skill ,'jpg':jpg,'country': country.toString(), 'city': city.toString(), 'theme': theme.toString() },
                success: function (res) {
                    $("#missiondetails").html(res);
                    $("#count1").html('')
                    $("#count1").html($("#count2")).html();
                },

                error: function (res) {
                    alert("Mission Erroe");
                }
            });
        }

        $(document).ready(function() {
            mysearch();
            console.log("hello shubh");
        });


        // Rating

        function addRating(starId, missionId, Id) {


            $.ajax({
                url: '/Employee/Home/Addrating',
                type: 'POST',
                data: { missionId: missionId, Id: Id, rating: starId },

                success: function (response) {
                    $('#starsr').html($(response).find('#starsr').html());
                    $('#avgrating').html($(response).find('#avgrating').html());
                },

                error: function () {
                    alert("could not add rating");
                }
            });
        }

        //--------------------------Add to Favroite Mission--------------------------------------------


        function addToFav(missonid) {
            //alert(missonid);
            $.ajax({

                type: 'GET',
                url: "/Employee/Home/addToFavouriteLanding",
                data: { 'missonid': missonid },
                success: function (res) {
                    //$('.addFav').html($(res).find('.addFav').html());
                    location.reload()
                },
                error: function () {
                    alert("not fav.");
                }

            });
        }

        //Reccomend to coworker
        function sendmail(id) {
            const mail = Array.from(document.querySelectorAll('input[name="mail"]:checked')).map(el => el.id);
            var send = document.getElementById("sendmail");
            send.innerHTML = "Sending"

            $.ajax({
                url: '/Employee/Home/Sendmail',
                type: 'POST',
                data: { userid: mail, id: id },
                success: function (result) {
                    alert("Recomendations sent successfully!");
                    const checkboxes = document.querySelectorAll('input[name="mail"]:checked');
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = false;
                    });
                    send.innerHTML = "sent"
                    setTimeout((send.innerHTML = "Send Mission"), 3000);
                },
                error: function () {
                    alert('Error: Could not recommend mission.');
                }
            });
        }

        //Filter Buttons
    var checkboxes=document.querySelectorAll(".form-check-input");
    for (var checkbox of checkboxes) {
        checkbox.addEventListener("click", function () {
            if (this.checked == true) {
                addElement(this, this.value);
            }
            else {
                removeElement(this.value);
            }
        })
    }

    /*this function will add filters*/



    function addElement(current, value) {
        let filtersSection = document.querySelector("#filters-section");

        let createdTag = document.createElement('span');
        createdTag.classList.add('filter-list');
        createdTag.classList.add('p-1');
        createdTag.classList.add('ps-3');
        createdTag.classList.add('border');
        createdTag.classList.add('border-1');
        createdTag.classList.add('rounded-pill');
        createdTag.classList.add('pe-1');
        createdTag.classList.add('me-2');
        createdTag.innerHTML = value;

        createdTag.setAttribute('id', value);
        let crossButton = document.createElement('button');
        crossButton.classList.add("filter-close-button");
        crossButton.classList.add("border-0");
        crossButton.classList.add("me-2");
        crossButton.classList.add("bg-white");
        let cross = '&times';

        crossButton.addEventListener('click', function () {
            let elementToBeRemoved = document.getElementById(value);

            console.log(elementToBeRemoved);
            console.log(current);
            elementToBeRemoved.remove();

            current.checked = false;

            mysearch();
        })

        crossButton.innerHTML = cross;

        createdTag.appendChild(crossButton);
        filtersSection.appendChild(createdTag);

        mysearch();

    }

    function removeElement(value) {

        let filtersSection = document.querySelector("#filters-section");

        let elementToBeRemoved = document.getElementById(value);
        filtersSection.removeChild(elementToBeRemoved);
        mysearch();
    }
    //Local storage

    function list() {
        localStorage.setItem("viewref", "list");
          $('#list-products').addClass('d-flex');
          $('#list-products').removeClass('d-none');
          $('#products').removeClass('d-flex');
          $('#products').addClass('d-none');
      }
    function grid() {
        localStorage.setItem("viewref", "grid");
        $('#products').removeClass('d-none');
        $('#products').addClass('d-flex');
        $('#list-products').addClass('d-none');
        $('#list-products').removeClass('d-flex');
    }

    function detectScreenSize() {
// Get the width of the screen
var screenWidth = window.innerWidth;

// If the screen width is less than 1050 pixels
if (screenWidth < 1250) {
// Get a reference to the button
var myButton = document.getElementById("grid");

// Trigger a click event on the button
myButton.click();
}
}
window.addEventListener("resize", detectScreenSize);
</script>
