<div class="text-center mt-5">
    No mission found
</div>

<div class="text-center">
    <a href="#" class="btn oran mx-auto mt-3">
        <span>Submit new misssions</span> <img class="ms-1" src="/Images/right-arrow.png">
    </a>
</div>

<script>
    $(document).ready(function(){
        $(".load1").hide();
    })
</script>