html{
    margin:0px !important;
    padding:0px !important;
    height:100vh;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #F88634 !important;
}
a.paginate_button.current{
    color:white !important;
}

.list-group-item.active {
    z-index: 2;
    color: red;
    background-color: white;
    /*border-color: #0d6efd;*/
}

    .list-group-item.active span {
        color: #F88634;
    }

    .list-group-item.active .symbol {
        color: #F88634;
    }

    .form-control:focus {
        box-shadow: none !important;
        border-color: black !important;
    }

.btn {
    box-shadow: none !important;
}

.active {
    background-color: darkorange;
}

.button-row {
    display: flex;
    justify-content: center;
}

.start-btn {
    margin-right: auto;
}

.end-btn {
    display: flex;
}

.edit {
    background: white;
    color: orange;
    border: none;
}

.data{
    float:right;
    text-align:right;
}
.dataTables_wrapper .dataTables_filter {
    float: left !important;
    text-align: left !important;
    display:none;
}

.dataTables_length {
    display: none;
}

.dataTables_info {
    display: none;
}

.navi {
    height: 100vh;
    /*width: max-content;*/
    background-color: #F88634;
}

.component {
    color: white;
    font-size: 20px;
}

.symbol {
    color: white;
}

.back {
    background-color: #F88634;
    border: none;
    font-size: 22px;
}

    
.back:hover {
    background-color: white;
    text-emphasis-color: #F88634;
 }

        
.back:hover a {
    color: #F88634;
 }

        
.back:hover .symbol {
    color: #F88634;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    box-shadow: none !important;
    shadow:none !important;
}

.btn-close {
    box-shadow: none !important;
}

.button:focus {
    outline: none;
}

.btn:focus {
    outline: none !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: black !important;
}

.form-check-input {
    box-shadow: none !important;
    border-color: black !important;
}