.btn {
    width: 100%;
    height: 10%;
    border-radius: 24px;
    border: 2px solid #F88634;
    color: #F88634;
}

.img1 {
    height: 100vh;
}

.forget {
    margin-top: 30%;
}

.policy {
    margin-top: 20%;
}

.carousel-inner {
    height: 100vh;
}

.carousel-img {
    height: 100vh;
}

.carouselExampleCaptions {
    height: 100vh;
}

@media screen and (max-width:991px) {
    .carousel-img, .carousel-inner, .carouselExampleCaptions {
        height: 50vh;
    }

    .carousel-caption {
        width: 100%;
        left: 0px;
        bottom: 0px;
        /* opacity: 1; */
        background-image: linear-gradient( to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), transparent );
    }

    .title {
        font-size: xx-large;
    }

    body {
        overflow: hidden; /* Hide scrollbars */
    }

    .email-span {
        font-size: 14px;
    }



    @media screen and (max-width:991px) {
        .img1 {
            height: 50vh;
        }

        .forget {
            margin-top: 2%;
        }

        .policy {
            margin-top: 5%;
        }
    }
