@using CI_Platform1.Models
@model RegistrationViewModel

<head>
    <link rel="stylesheet" href="~/css/registration.css" asp-append-version="true">
    <title>Registration Page</title>
</head>
<body>
    <div class="container-fluid pl-0">
        <div class="row ">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" data-bs-ride="carousel" data-bs-interval="4000">
                <partial name="carousel" />
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-10
                justify-content-center align-self-center right_div">
                <form asp-controller="Home" asp-action="Registration">
                    <div class="mb-5 text-danger">@ViewBag.Email</div>
                    <div class="ridiv">

                        <label asp-for="FirstName" class="form-label ">First Name</label>
                        <input asp-for="FirstName" type="text" placeholder="  evan" class="form-control shadow-none" required>
                        <span asp-validation-for="FirstName" class="text-danger"></span>

                    </div>
                    <div class="">
                        <label asp-for="LastName" class="form-label">Last Name</label>
                        <input asp-for="LastName" type="text" placeholder="  donohue" class="form-control shadow-none" required>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                    <div>
                        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                        <input asp-for="PhoneNumber" type="text" placeholder="  8866123456" class="form-control shadow-none" required>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                    <div>
                        <label asp-for="Email" class="form-label">Email Address</label>
                        <input asp-for="Email" type="email" class="form-control shadow-none" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text"></div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="form-label" required>Password</label>
                        <input asp-for="Password" type="password"
                               class="form-control shadow-none">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Password" for="exampleInputEmail1" class="form-label" required>
                            Confirm Password
                        </label>
                        <input asp-for="Password" type="password" class="form-control shadow-none">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" value="login" class="btn
                        btn-outline-success mt-2 shadow-none">
                        Register
                    </button>

                    <div class="text-center mt-1">
                        Already registered?<a asp-action="Login" asp-controller="Home" class="text-black  text-decoration-none">Login Now</a>
                    </div>

                    <div class=" policy mt-2 text-secondary text-center">
                        Privacy
                        Policy
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

