@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<partial name="Navbar1" />

<partial name="Navbar2" />

<div id="missiondetails"></div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script>*@


<script>

        function mysearch(order=1, jpg){
            var search = $("#search-addon[name=searchText]").val();

            var country = [];
            $("input[type='checkbox'][name='country']:checked").each(function () {
                country.push($(this).val());
            });

            var city = [];
            $("input[type='checkbox'][name='city']:checked").each(function () {
                city.push($(this).val());
            });

            var theme = [];
            $("input[type='checkbox'][name='theme']:checked").each(function () {
                theme.push($(this).val());
            });


            $.ajax({
                url: '/Home/_Missions',
                type: 'GET',
                data: { 'SearchingMission': search,'order':order ,'jpg':jpg,'country': country.toString(), 'city': city.toString(), 'theme': theme.toString() },
                success: function (res) {
                    $("#missiondetails").html(res);
                },

                error: function (res) {
                    alert("error");
                }
            });
        }

        $(document).ready(function() {
            mysearch();
            console.log("hello shubh");
        });


        // Rating

        function addRating(starId, missionId, Id) {


            $.ajax({
                url: '/Home/Addrating',
                type: 'POST',
                data: { missionId: missionId, Id: Id, rating: starId },

                success: function (response) {
                    $('#starsr').html($(response).find('#starsr').html());
                    $('#avgrating').html($(response).find('#avgrating').html());
                },

                error: function () {
                    alert("could not add rating");
                }
            });
        }

        //--------------------------Add to Favroite Mission--------------------------------------------


        function addToFav(missonid) {
            $.ajax({

                type: 'GET',
                url: "/Home/addToFavouriteLanding",
                data: { 'missonid': missonid },
                success: function (res) {
                    //$('.addFav').html($(res).find('.addFav').html());
                    location.reload()
                },
                error: function () {
                    alert("not fav.");
                }

            });
        }

        //Reccomend to coworker
        function sendmail(id) {
            const mail = Array.from(document.querySelectorAll('input[name="mail"]:checked')).map(el => el.id);
            var send = document.getElementById("sendmail");
            send.innerHTML = "Sending"

            $.ajax({
                url: '/Home/Sendmail',
                type: 'POST',
                data: { userid: mail, id: id },
                success: function (result) {
                    alert("Recomendations sent successfully!");
                    const checkboxes = document.querySelectorAll('input[name="mail"]:checked');
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = false;
                    });
                    send.innerHTML = "sent"
                    setTimeout((send.innerHTML = "Send Mission"), 3000);
                },
                error: function () {
                    alert('Error: Could not recommend mission.');
                }
            });
        }

        //Filter Buttons
    var checkboxes=document.querySelectorAll(".form-check-input");
    for (var checkbox of checkboxes) {
        checkbox.addEventListener("click", function () {
            if (this.checked == true) {
                addElement(this, this.value);
            }
            else {
                removeElement(this.value);
            }
        })
    }

    /*this function will add filters*/



    function addElement(current, value) {
        let filtersSection = document.querySelector("#filters-section");

        let createdTag = document.createElement('span');
        createdTag.classList.add('filter-list');
        createdTag.classList.add('p-1');
        createdTag.classList.add('ps-3');
        createdTag.classList.add('border');
        createdTag.classList.add('border-1');
        createdTag.classList.add('rounded-pill');
        createdTag.classList.add('pe-1');
        createdTag.classList.add('me-2');
        createdTag.innerHTML = value;

        createdTag.setAttribute('id', value);
        let crossButton = document.createElement('button');
        crossButton.classList.add("filter-close-button");
        crossButton.classList.add("border-0");
        crossButton.classList.add("me-2");
        crossButton.classList.add("bg-white");
        let cross = '&times';

        crossButton.addEventListener('click', function () {
            let elementToBeRemoved = document.getElementById(value);

            console.log(elementToBeRemoved);
            console.log(current);
            elementToBeRemoved.remove();

            current.checked = false;

            mysearch();
        })

        crossButton.innerHTML = cross;

        createdTag.appendChild(crossButton);
        filtersSection.appendChild(createdTag);

        mysearch();

    }

    function removeElement(value) {

        let filtersSection = document.querySelector("#filters-section");

        let elementToBeRemoved = document.getElementById(value);
        filtersSection.removeChild(elementToBeRemoved);
        mysearch();
    }
    //Local storage
        
    function list() {
		localStorage.setItem("viewref", "list");
		  $('#list-products').addClass('d-flex'); 
          $('#list-products').removeClass('d-none'); 
          $('#products').removeClass('d-flex'); 
          $('#products').addClass('d-none');

      
            

	  }
	function grid() {
		localStorage.setItem("viewref", "grid");
		$('#products').removeClass('d-none');
        $('#products').addClass('d-flex'); 
        $('#list-products').addClass('d-none'); 
        $('#list-products').removeClass('d-flex');
      

	}



        //Grid List


        function showList(e) {
            var $gridCont = $('.grid-container');
            e.preventDefault();
            $gridCont.hasClass('list-view') ? $gridCont.removeClass('list-view') : $gridCont.addClass('list-view');
        }

        function gridList(e) {
            var $gridCont = $('.grid-container')
            e.preventDefault();
            $gridCont.removeClass('list-view');
        }

        $(document).on('click', '.btn-grid', gridList);
        $(document).on('click', '.btn-list', showList);



                        function showList(e) {
                            var imgdiv = document.querySelectorAll('.imgdiv');
                            var missionimg = document.querySelectorAll('.missionimg');

                            var $gridCont = $('.grid-container');
                            e.preventDefault();
                            //$gridCont.hasClass('list-view') ? $gridCont.removeClass('list-view') : $gridCont.addClass('list-view');
                            $gridCont.removeClass('grid-view');
                            $gridCont.addClass('list-view');
                            for (var item of imgdiv) {
                                item.style.width = "36%";
                            }

                            //for(var item1 of missionimg){
                            //    item.style.width = "100%";
                            //}



                        }
                        function gridList(e) {
                            var imgdiv = document.querySelectorAll('.imgdiv');
                            var missionimg = document.querySelectorAll('.missionimg');
                            var $gridCont = $('.grid-container')
                            e.preventDefault();
                            //$gridCont.removeClass('list-view');

                            $gridCont.removeClass('list-view');
                            $gridCont.addClass('grid-view');
                            for (var item of imgdiv) {
                                item.style.width = "100%";
                            }

                            for (var item of missionimg) {
                                item.style.width = "100%";
                            }

                        }

                        $(document).on('click', '.btn-grid', gridList);
                        $(document).on('click', '.btn-list', showList);




</script>
