@*
<partial name="Navbar1" />*@

<div class="text-center ">
    <h2>Related Missions</h2>
</div>


<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline imgdiv position-relative">

            <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                 class="card-img-top missionimg" alt="...">
            <button class="img-btn position-absolute" type="button">
                <img src="../images/pin.png"
                     class="d-inline me-1" />
                <p class="d-inline">Toronto</p>
            </button>
            <button class="img-btn-2 position-absolute" type="button">
                <img src="../images/heart.png"
                     width="20px" height="20px" />
            </button>
            <button class="img-btn-3 position-absolute" type="button">
                <img src="../images/eye.png"
                     width="20px" height="20px" />
            </button>

            <div class="rule" style="margin-top:-20px !important;">
                <hr>
                <button class="hrbtn-img">Enviroment</button>
                <hr>
            </div>

        </div>


        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make
                up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="/images/star.png" class="star">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                </div>
            </div>
            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="/Images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>

</div>


<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline imgdiv position-relative">

            <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                 class="card-img-top  missionimg" alt="...">
            <button class="img-btn position-absolute" type="button">
                <img src="../images/pin.png"
                     class="d-inline me-1" />
                <p class="d-inline">Toronto</p>
            </button>
            <button class="img-btn-2 position-absolute" type="button">
                <img src="../images/heart.png"
                     width="20px" height="20px" />
            </button>
            <button class="img-btn-3 position-absolute" type="button">
                <img src="../images/eye.png"
                     width="20px" height="20px" />
            </button>

        </div>
        <div class="rule" style="margin-top:-20px !important;">
            <hr>
            <button class="hrbtn-img">Enviroment</button>
            <hr>
        </div>

        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make
                up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="/images/star.png" class="star">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                </div>
            </div>
            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="/Images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline imgdiv  position-relative">

            <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                 class="card-img-top  missionimg" alt="...">
            <button class="img-btn position-absolute" type="button">
                <img src="../images/pin.png"
                     class="d-inline me-1" />
                <p class="d-inline">Toronto</p>
            </button>
            <button class="img-btn-2 position-absolute" type="button">
                <img src="../images/heart.png"
                     width="20px" height="20px" />
            </button>
            <button class="img-btn-3 position-absolute" type="button">
                <img src="../images/eye.png"
                     width="20px" height="20px" />
            </button>

            <div class="rule" style="margin-top:-20px !important;">
                <hr>
                <button class="hrbtn-img">Enviroment</button>
                <hr>
            </div>

        </div>


        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make
                up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="/images/star.png" class="star">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                    <img src="/Images/star-empty.png" class="star" alt="">
                </div>
            </div>
            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="/Images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>

</div>